.todosContainer {
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media screen and(max-width: 599px) {
    margin: 0;
    padding: 0;
  }
}

.todos {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;

  @media screen and(max-width: 599px) {
    border: none;
  }
}
