.todoItem {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;

  &:hover {
    background-color: #f3f2f2;
  }

  & label:before,
  & label:after {
    margin-top: -0.15rem;
    width: 1.2rem;
    height: 1.2rem;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;

    & span {
      font-size: 0.7rem;
      content: '\270F';
    }
  }

  & button.edit {
    margin-left: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  & span.editIcon {
    transform: rotate(90deg);
  }

  & span.todoText {
    width: calc(100% - 40px);
    margin-left: 0.3rem;
    word-break: break-all;
  }
}

.todoItemCompleted {
  &:hover {
    background-color: #fff;
  }

  & span {
    color: #cecece;
  }

  & span.todoText {
    text-decoration: line-through;
  }

  & button {
    border-color: #cecece;
    background-color: #cecece;
  }

  & div > label:before {
    border-color: #cecece !important;
    background-color: #cecece !important;
  }
}
