.todoItem {
  display: flex;
  padding: 0.7rem;
  align-items: center;

  &:hover {
    background-color: #f3f2f2;
  }

  & label:before,
  & label:after {
    margin-top: -0.45rem;
    width: 1.9rem;
    height: 1.9rem;
  }
}

.todoItemCompleted {
  &:hover {
    background-color: #fff;
  }

  & span {
    color: #cecece;
  }

  & span.todoText {
    text-decoration: line-through;
  }

  & button {
    border-color: #cecece;
    background-color: #cecece;
  }

  & div > label:before {
    border-color: #cecece !important;
    background-color: #cecece !important;
  }
}

.todoItemSecondColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & button.edit {
    margin-left: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  & button {
    border-radius: 100%;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;

    & span {
      content: '\270F';
    }
  }

  & span.todoText {
    margin-left: 0.8rem;
    word-break: break-all;
  }
}
