.todoListFooter {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  @media screen and (max-width: 550px) {
    flex-direction: column;
    justify-content: center;
  }
}

.todoListItemsLeft {
  margin-bottom: 0;
}
